<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is Piglatinize</title>
  </head>
  <body>
    <h1>This is Piglatinize !!</h1>
    <img src="https://static1.squarespace.com/static/57e05e534402434aa0f846c2/t/58c1741915d5db4620fbe956/1489073209400/" alt="This was a cool picture of the movie 300" height="150">
    <br>
    <p>Your translated phrase into pig latin is:</p>
    <h2>"<%= @piglatinized_text.translation %>"</h2>
  </body>
</html>
