<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize">
      <p>Type text here:</p>
      <input type="text" name="piglatinize">
      <p><input type="submit" id="submit" value="PIGLATINIZE!"></p>
    </form>
  </body>
</html>
